@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
.filterable {
    margin-top: 15px;
}

.filterable .panel-heading .pull-right {
    margin-top: -20px;
}

.filterable .filters input[disabled] {
    background-color: transparent;
    border: none;
    cursor: auto;
    box-shadow: none;
    padding: 0;
    height: auto;
}

.filterable .filters input[disabled]::-webkit-input-placeholder {
    color: #333;
}

.filterable .filters input[disabled]::-moz-placeholder {
    color: #333;
}

.filterable .filters input[disabled]:-ms-input-placeholder {
    color: #333;
}

.partial-admin {
    margin-top: 15px;
}

.responstable {
  margin: 1em 0;
  width: 100%;
  overflow: hidden;
  background: #FFF;
  color: #024457;
  border-radius: 10px;
  border: 1px solid #167F92; }

.responstable tr {
  border: 1px solid #D9E4E6; }

.responstable tr:nth-child(odd) {
  background-color: #EAF3F3; }

.responstable th {
  display: none;
  border: 1px solid #FFF;
  background-color: #167F92;
  color: #FFF;
  padding: 1em; }

.responstable th:first-child {
  display: table-cell;
  text-align: center; }

.responstable th:nth-child(2) {
  display: table-cell; }

.responstable th:nth-child(2) span {
  display: none; }

.responstable th:nth-child(2):after {
  content: attr(data-th); }